/* qucik */
.quick_layer_wrap{position:fixed;bottom:0;right:0;z-index:20;transition:.5s;opacity:1;
    &.opacity_hidden{opacity:0;}
    &.opacity_show{opacity:1;}
}
.quick_obj{display:flex;align-items:center;justify-content:center; width: rem(50);height: rem(50);box-shadow: 0 0 6px 0 rgba(12, 74, 150, 0.52);background: #fff url("../images/icon_main_hand_m.png") no-repeat 50% 50%/90% auto;border-radius:100%;position:absolute;bottom:rem(16);right:rem(16);
    &.type2{
        background-image:none;
    }
    .quick_text{display:inline-block;font-size:rem(29);font-weight:600;color:#0c4a96;}
}

/* 공통 alert confirm */
.btn_guide{display:inline-block;font-size:rem(16);padding:rem(15) rem(30);border:1px solid #ddd;}
.design_modal_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100;min-width:rem(280);overflow:hidden;display:none;}
.design_modal_wrap.active{display:block;}
.design_modal_wrap.active.motion .bg_design_modal{background:rgba(0,0,0,.65);}
.design_modal_wrap.active.motion .design_modal{transform:translateY(0);opacity:1;}
.bg_design_modal{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0);z-index:0;transition:.5s;}
.design_modal_w{display:flex;justify-content: center;align-items: center;width:100%;height:100%;box-sizing: border-box;padding:rem(30)}
.design_modal{background:#fff;position:relative;transform:translateY(-50%);transition:.5s;opacity:0;min-width:rem(280);border-radius:rem(10) rem(10) rem(30) rem(30);}
.design_modal_cont_w{display:flex;align-items: center; justify-content: center;padding:rem(20);min-height:rem(120);box-sizing: border-box;}
.design_modal_text{}
.btn_dmsm_wrap{display:flex;align-items: center;justify-content: center;background:#0c4a96;text-align:center;border-radius:0 0 rem(10) rem(10);position:relative;overflow:hidden;}
.btn_dmsm{height:rem(54);flex:1;display:flex;align-items: center;margin:0 -1px;font-weight:500;justify-content: center;color:#fff;border-left:1px solid transparent;border-right:1px solid rgba(255,255,255,.5);}
.btn_dmsm.btn_dmsmcancel{background-color:#929292;}
.btn_dmsm:last-of-type{border-right:0;}
@media(max-width:1023px){
    .design_modal{min-width:100%;}
}



/* 공통 popup */
.popup_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100000;display:none;align-items: center;justify-content: center;min-width:rem(280);overflow:hidden;flex-wrap:wrap;}
.popup_item{
    box-sizing: border-box;z-index:20; max-width:rem(600);margin:rem(30) auto; max-height:calc(100% - rem(60)); background:#fff; position:relative; display:flex; flex-direction: column;
    -webkit-box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3); box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3); border-radius:1.1875rem; width:100%;opacity:0;transition:.4s; 
    &.no_transition{transition:0s;opacity:1;transform:none;}
    &.down_motion{transform: translateY(-20%);}
    &.fulltype{
        margin:0;max-height:100%;border-radius:0;max-width:100%; transform: translateY(50%);transition-duration:.6s;height:100%;width:100%;
        .popup_titlelow{border-bottom:0;
            padding:0 rem(45);
            .popup_title{padding:rem(17) rem(17) rem(16);line-height:1;}
        }
        .pcont_inwrap{padding:rem(16)}
    }
}
.bg_dim{display:block;width:100%;height:100%;position:fixed;top:0;left:0;z-index:0;background:#000;opacity:0;transition:.5s;
    &.no_transition{transition:0s;opacity:.6;transform:none;}
}
.popup_titlelow{text-align:center;border-bottom: 1px solid #e7e7e7;flex:0;padding:0 rem(40)}
.popup_title{font-size:rem(16);color:#191919;padding:rem(15) rem(15) rem(15);font-weight:600;@include fontTransform;}
.popup_contentlow{position:relative;overflow:hidden;overflow-y:auto;flex:1;font-size:rem(12);color:#333333;
    &::-webkit-scrollbar {width:rem(4);}
    &::-webkit-scrollbar-thumb {background-color: #878787;border-radius: rem(10);}
    &::-webkit-scrollbar-track {background-color: #dcdcdc;border-radius: rem(10);}
}
.pcont_inwrap{padding:rem(30);
    &.has_terms{
        font-size:rem(16);color:#191919;line-height:1.5;word-break: break-all;
        pre{@include fontTransform;}
    }
}
.pcont_subtitle{font-size:rem(19);color:#1b1b1b;line-height:1.3;font-weight:500;}
.popup_btnlow{flex:0;border-top:1px solid #e7e7e7;}
.popup_wrap.active{display:flex}
.popup_wrap.active.motion .popup_item{
    opacity:1;transform: translateY(0);
}
.popup_wrap.active.motion .bg_dim{opacity:.6;}
.popup_wrap.active{display:flex}
.btn_submitbox_w{display:flex;margin:0;padding:rem(30) rem(23);}
.btn_submitbox_w .btn_submitbox{margin:0 rem(2.5);}
.btn_submitbox{display:inline-block;vertical-align:middle;border:0;font-size:rem(16);text-align:center;color:#4e4e4e;font-weight:500;flex:1;background:#e7e7e7;border-radius:rem(5);padding:rem(12) rem(20);}
.btn_submitbox.dtype2{background:#0c4a96;color:#fff;}
.btn_submitbox.inline_type{flex:0;white-space: nowrap;}
.btn_submitbox.small{padding:rem(8) rem(12)}
.btn_submitbox_w.dtype2{
    display:block;text-align:center;padding:rem(15); 
    .btn_submitbox{padding:rem(12) rem(20);}
}
input.btn_submitbox{}

.btn_popup_close{display:inline-block;width:rem(40);height:rem(40);position:absolute;top:0;right:0;font-size:0;line-height:0;
    &.dtype2{width:rem(22);height:rem(22);top:rem(14);right:rem(12);
        &:before,
        &:after{width:rem(16);height:rem(2);margin:rem(-1) 0 0 rem(-8);background:#878787}
    }
}
.btn_popup_close:before,
.btn_popup_close:after{width:rem(15);height:rem(1);display:block;content:'';position:absolute;top:50%;left:50%;background:#000; margin:rem(-0.5) 0 0 rem(-7.5);
    transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
}
.btn_popup_close:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.btn_popup_close:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
@media (max-width:1023px){
    .popup_title{font-size:rem(17);padding:rem(15) rem(10) rem(10);}
    .pcont_subtitle{font-size:rem(15)}
}
@media (max-width:720px){
    .popup_wrap{left:0;transform:translateX(0);width:100%;}
    .popup_item{margin:20px;max-height: calc(100% - 40px);}
    .pcont_inwrap{padding:rem(15)}
    .btn_submitbox_w{padding:rem(15);
        &.dtype2{
            display:block;text-align:center;padding:rem(10); 
            .btn_submitbox{padding:rem(8) rem(15);}
        }
    }
    .btn_submitbox{font-size:rem(14);padding:rem(8)}
}
/* // 공통 popup */


/* component */
.dropmenu_item{position:relative;display:inline-block;border:1px solid #bcbcbc;} 
.dropmenu_call{
    display:inline-block;line-height:1;min-width:rem(140);box-sizing:border-box;font-size:rem(14);color:#191919;transform:skew(.5deg);padding:rem(12) rem(36) rem(12) rem(12);
    &:after{
        display:block;content:'';border-right:1px solid #8c8c8c;border-bottom:1px solid #8c8c8c;width:rem(7);height:rem(7);position:absolute;top:rem(12);right:rem(12);
        transform: translateZ(0) rotate(45deg);
    }
} 
.dropmenu_option_list_wrap{display:none;position:absolute;top:100%;left:-1px;width:calc(100% + 2px);overflow:hidden;
    &.active{
        display:block;
    }
} 
.dropmenu_option_list{
    background:#fff;border:1px solid #bcbcbc;position:relative;overflow:hidden;
    > li{}
} 
.dropmenu_option{
    display:block;font-size:14px;line-height:1.2;color:#191919;padding:rem(10) rem(8); transform: skew(.5deg);
    &:hover{background:#f6f8f9;}
}

.chkrd_item{display:flex;line-height:0;font-size:0;}
.chkrd_label{cursor:pointer;font-size:16px;padding-top:2px;color:#444444;display:inline-block;line-height:1;margin-left:8px;vertical-align:middle;}
.chkrd_label:before{}
.chkrd:checked{background-position:0 -19px;border-color:#34b371;background-color:#34b371;}

.formitem_list{display:flex;align-items: center;margin-bottom:rem(-10)}
.formitem_list > li{margin:0 rem(20) rem(10) 0;}
.formitem{display:flex;}
.check_item{cursor:pointer;-webkit-appearance: none; appearance: none; -moz-appearance: none; -ms-appearance:none;vertical-align:middle;width:rem(14);height:rem(14);border-radius:100%;border:2px solid #bcbcbc;background:#fff;flex:0 0 rem(14);box-sizing: content-box;}
.check_item:checked{background:url("../images/icon_radio.png") no-repeat 0 0/100% auto;border-color:#69a0d4;}
.check_item:checked + .formitem_label{}
.formitem_label{cursor:pointer;font-size:16px;color:#878787;display:inline-block;@include fontTransform;font-weight:600;line-height:1.3;margin-left:rem(8);position:relative;top:rem(-1)}
.title_sub_copy{text-align: center;color:#191919;font-size:rem(15);line-height:1.5;@include fontTransform;}
input.form_input{border:1px solid #d4d4d4;line-height:1;height:rem(40);padding:0 rem(8);box-sizing: border-box;width:100%;font-size:rem(14);}
input.form_input:disabled{background-color:#f6f6f6;border-color:#d4d4d4;}

.native_formitem_wrap{position:relative;display:inline-block;font-size:0;line-height:0;top:rem(2);}
input.native_formitem{position:absolute;top:0;right:0;width:100%;border:0;z-index:2;padding:0;height:100%;appearance: none;background:none;appearance: none;color:transparent;font-size:0;line-height:0;
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
        opacity:0;
    }
}

.sort_both_wrap{display:flex;justify-content: space-between;align-items: center;}

.native_formitem_value{
    display:inline-block;position:relative;font-size:rem(22);color:#191919;line-height:1;padding-right:rem(30);font-weight:600;
    &:after{display:block;content:'';width:rem(20);height:rem(20);background:url("../images/icon_date_more.png") no-repeat 0 0/100% auto;position:absolute;top:50%;right:0;transform: translateY(-50%);}
}
.ios .native_formitem_value{&:after{margin-top:rem(-1)}}
.window .native_formitem_value{
    &:after{margin-top:rem(-1)}
}
.btn_quadobj{
    display:inline-flex;background:#f16333;align-items:center;padding:rem(8) rem(16);
    &[class*="ico_"]:before{display:block;content:'';background-position:0 0;background-size:100% auto;background-repeat:no-repeat;}
    &.ico_down:before{background-image:url("../images/icon_download.png");width:rem(17);height:rem(17); flex:0 0 rem(17);margin-right:rem(4)}
    &.size_type2{
        padding:rem(11) rem(16);
        .quadobj_text{font-size:rem(16);color:#fff;line-height:1;@include fontTransform;}
    }
    &.full_type{display:flex;justify-content: center;}
}
.btn_vitem_list{
    margin-top:rem(32);
    > li{
        margin-bottom:rem(16);
        &:last-of-type{margin-bottom:0;}
    }
}
.quadobj_text{color:#fff;font-size:rem(12);line-height:1;display:inline-block;font-weight:600;white-space: nowrap;}

.vertical_item_list{
    &.margin_type2{
        > li{margin-bottom:rem(24);}
    }
    > li{
        margin-bottom:rem(40);
        &:last-of-type{margin-bottom:0 !important}
    }
}
.vertical_item_title{margin-bottom:rem(15);}
.vertical_item_content{margin-top:rem(15)}
.btn_submitquad_wrap{margin-top:rem(40);}
.btn_submitquad{display:flex;align-items:center;justify-content:center;box-sizing:border-box;padding:rem(10);background:#69a0d4;color:#fff;font-size:rem(16);@include fontTransform;line-height:1;min-height:rem(60);font-weight:600;}

.mt5{margin-top:rem(5) !important;}
.mt10{margin-top:rem(10) !important;}
.mt20{margin-top:rem(20) !important;}
.mt30{margin-top:rem(30) !important;}
.mt40{margin-top:rem(40) !important;}
.mt50{margin-top:rem(50) !important;}
.mt60{margin-top:rem(60) !important;}
.mt70{margin-top:rem(70) !important;}
.mt80{margin-top:rem(80) !important;}
.mt90{margin-top:rem(90) !important;}
.mt100{margin-top:rem(100) !important;}

.btn_snsbox{display:flex;align-items: center;justify-content: center;position:relative;min-height:rem(60);}
.btn_snsbox[class*="ico_"]:before{display:block;content:'';width:rem(60);height:rem(60);position:absolute;top:50%;left:0;transform: translateY(-50%);background-repeat:no-repeat;background-position:50% 50%;background-size:100% auto;}
.btn_snsbox.ico_naver{background:#1ec800;}
.btn_snsbox.ico_naver:before{background-image:url("../images/logo_naver.png");}
.btn_snsbox.ico_kakao{background:#fae100;}
.btn_snsbox.ico_kakao .snsbox_text{color:#191919;}
.btn_snsbox.ico_kakao:before{background-image:url("../images/logo_kakao.png");}
.snsbox_text{display:inline-block;color:#fff;@include fontTransform;line-height:1;font-weight:600;}

// component guide
.source_his_item_wrap{padding:rem(30) rem(20)}
.source_his_item{margin-bottom:rem(50)}
.source_his_item:last-of-type{margin-bottom:0}
.component_title{font-size:rem(20);color:#000;font-weight:700;border-bottom:2px solid #000;padding-bottom:rem(10);margin-bottom:rem(20)}
.component_title_sub{font-size:rem(15);color:#000;}
.textarea_size{box-sizing:border-box;width:100%;padding:20px;margin-top:rem(40);overflow:hidden;resize:none;}
.render_wrap{margin:rem(10) 0 0 0;}
.component_dep_wrap{}
.component_dep{margin-bottom:rem(40);}
.component_dep:last-of-type{margin-bottom:0;}

// text table
.list_data_tb_wrap{
    position:relative;overflow:hidden;overflow-x:auto; margin:0 0 0 rem(-16);
    &::-webkit-scrollbar {display:none;}
    > table{width:100%;margin:0 0 0 rem(16)}
}
.list_data_tb{width:100%;border-top:2px solid #878787;text-align: center;}
.list_data_tb th,
.list_data_tb td{text-align: center;}
.list_data_tb th{background:#f6f8f9;border-bottom:1px solid #dcdcdc;padding:rem(15) rem(10);}
.list_data_tb td{border-bottom:1px solid #dcdcdc;padding:rem(15) rem(10);}
.list_data_tb tr > *:first-child{padding-left:rem(20);}
.list_data_tb tr > *:last-child{padding-right:rem(20);}
.list_thtext{display:inline-block;font-size:rem(16);color:#191919;line-height:1;font-weight:600;@include fontTransform;white-space: nowrap;}
.list_tdtext{display:inline-block;font-size:rem(14);color:#191919;white-space: nowrap;
    &.type2{font-size:rem(16)}
}
.list_tdlink{display:inline-block;font-size:rem(14);color:#191919;white-space: nowrap;}
.nodata_td{padding:rem(100) rem(16) !important;}
.data_rank_wrap{display:flex;align-items: center;justify-content: center;}
.data_rank{font-size:rem(16);color:#191919;line-height:1;display:inline-block;font-weight:600;min-width:rem(20);text-align: center;@include fontTransform;}
.data_current{
    display:flex;font-size:rem(16);line-height:1;color:#191919;position:relative;align-items: center;min-width:rem(20);justify-content:center;
    &.down:before,
    &.up:before{display:inline-block;content:'';width:rem(12);height:rem(12);flex:0 0 rem(12);background:url("../images/ico_rank_up.png") no-repeat 0 0/100% auto;margin-right:rem(3)}
    &.down{color:#69a0d4;
        &:before{background-image:url("../images/ico_rank_down.png")}
    }
    &.up{color:#d50000;
        &:before{display:inline-block;content:'';width:rem(12);height:rem(12);flex:0 0 rem(12);background:url("../images/ico_rank_up.png") no-repeat 0 0/100% auto;}
    }
}

// text
.terms_para{
    font-size:rem(15);color:#393939;line-height:1.6;@include fontTransform;
    &.intro{}
}
.terms_main{background:#f6f8f9;padding:rem(22) rem(16); margin-top:rem(24); font-size:rem(15);
    h4{font-size:rem(16);color:#191919;font-weight:600;@include fontTransform;margin:rem(50) 0 rem(15);
        &:first-of-type{margin-top:0;}
    }
    > .terms_para{margin-bottom:rem(24)}
    table {
        width: 100%;border: 1px solid #ddd;margin-bottom:rem(18);background:#fff;
        th {font-size:rem(14); font-weight:normal;white-space:nowrap; text-align:center; border: 1px solid #ddd; padding: rem(12) rem(5);background-color: #f7f7f7;}
        td {font-size:rem(14); border: 1px solid #ddd; padding: rem(12) rem(10);
            &.no {text-align:center;}
        }
    }
}
.indent_item_list{
    font-size:rem(14);color:#6d6d6d;
    > li{
        &:last-of-type{}
    }
}
.indent_item{
    display:flex;
    .indent_bullet{flex:0;white-space: nowrap;margin-right:rem(2)}
    .indent_cont{}
}
.dash_text_list{
    > li {
        position:relative;padding-left:rem(10);
        &:before{display:block;content:'-';position:absolute;top:0;left:0;}
    }
}
.dot_text_list{
    > li {
        position:relative;padding-left:rem(8);
        &:before{display:block;content:'';position:absolute;top:rem(10);left:0;width:rem(3);height:rem(3);background:#6d6d6d;border-radius:100%}
    }
}
.scroll_table_wrap{
    position:relative;overflow:hidden;overflow-x:auto; margin:rem(10) 0 0 rem(-16);
    &::-webkit-scrollbar {display:none;}
    > table{min-width:600px;width:100%;margin-left:rem(16)}
}

@media (max-width:1023px){
    .component_title{font-size:16px}
}

// item 
.sc_vitem_wrap{}
.sc_vitem{
    margin-bottom:rem(56);
    &:last-of-type{margin-bottom:0;}
}
.sc_vtitle{
    font-size:rem(19);font-weight:600;color:#191919;position:relative;padding-left:rem(14);line-height:1;
    &:before{display:block;content:'';width:rem(9);height:rem(9);background:url("../images/bullet_square_m.png") no-repeat 0 0/100% auto;position:absolute;top:rem(5);left:0;}
}
.sc_vcontent{margin-top:rem(8)}
.emp_box{padding:rem(16);background:#f6f8f9;}
.dot_emp_list{
    line-height:1.5;
    > li{
        color:#393939;font-size:rem(15);@include fontTransform;padding-left:rem(8);margin-bottom:rem(24);
        &:last-of-type{margin-bottom:0 !important;}
        &:before{display:block;content:'';width:rem(3);height:rem(3);background:#f16333;border-radius:100%;position:absolute;top:rem(9);left:0;}
    }
    &.type2{
        > li{margin-bottom:rem(12);}
    }
}
.dia_box{
    background:#f6f8f9;border:1px solid #dcdcdc;padding:rem(24) rem(12);margin-top:rem(24); text-align: center;
    > img{vertical-align: top;}
}
.label_link_wrap{
    background:#fff;padding:rem(10) rem(20);margin-top:rem(20);text-align: left;
}
.label_link_list{
    > li{
        display:flex;align-items: center;justify-content: space-between;
        .btn_quadobj{}
        &:last-of-type{}
    }
}
.label_link_text{
    font-size:rem(16);color:#191919;font-weight:600;padding-left:rem(10); @include fontTransform; position:relative; word-break: keep-all;text-align: left;
    &::before{display:block;content:'';width:rem(3);height:rem(3);background:#191919;border-radius:100%;position:absolute;top:rem(11);left:0;}
}


// board
.sc_search_form{display:flex;
    &.active .sc_search_input_w{border:1px solid #0C4A96;border-right:0;}
}
.sc_search_input_w{flex:1;border:1px solid #bcbcbc;border-right:0;}
input.sc_search_input{height:13.333vw;line-height:1;padding:0 4.444vw;box-sizing:border-box;width:100%;border:0;font-size:4.444vw;color:#000;
    &::-webkit-input-placeholder{font-size:3.333vw;@include fontTransform;}
    &::-moz-input-placeholder{font-size:3.333vw;@include fontTransform;}
    &:-ms-input-placeholder{font-size:3.333vw;@include fontTransform;}
    &::-ms-input-placeholder{font-size:3.333vw;@include fontTransform;}
    &::input-placeholder{font-size:3.333vw;@include fontTransform;}
}

.btn_sc_search_submit{display:flex;@include fontTransform;white-space: nowrap;color:#fff;font-weight:600;font-size:rem(16);background:#f16333;padding:0 rem(16);align-items: center;justify-content: center;}
.scroll_boxtab_list_wrap{
    margin:0 rem(-16);position:relative;overflow:hidden;overflow-x:auto;padding:rem(25) rem(16) rem(40);
    &.type2{padding-top:rem(17);padding-bottom:rem(17);}
    &::-webkit-scrollbar {display:none;}
}
.sc_boxtab_list{
    display:flex;align-items: center;
    > li{
        padding-right:rem(16);
        &.active{
                .sc_boxtab{color:#fff;border-color:#1a4071;background:#1a4071;}
        }
    }
    
    &.type2{
        .sc_boxtab{color:#878787;border-color:#bcbcbc;}
    }
}
.sc_boxtab{display:inline-block;white-space: nowrap;color:#1a4071;line-height:1;border:1px solid #1a4071;padding:rem(7) rem(16);border-radius:rem(100);font-size:rem(16);@include fontTransform;}

.data_vertical_list_wrap{border-top:2px solid #878787;}
.data_vertical_list{
    > li{
        border-bottom:1px solid #dcdcdc;padding:rem(16) 0;
        &:last-of-type{}
        &.nodata_li{
            padding:rem(110) rem(16);
            .nodata_item{}
        }
    }
}
.data_kind{display:inline-block;font-size:rem(16);color:#0c4a96;font-weight:600;@include fontTransform;}
.nodata_item{
    &:before{display:block;content:'';width:rem(75);height:rem(60);background:url("../images/img_search_non.png") no-repeat 0 0/100% auto;margin:0 auto rem(5);}
}
.nodata_item_text{font-size:rem(16);display:block;text-align: center;color:#878787;@include fontTransform;}

.data_veritcal_item{}
.data_veritcal_main{
    white-space: nowrap; text-overflow: ellipsis;overflow:hidden;position:relative; max-width:99%;@include fontTransform;
    padding-right: rem(28);
    &:after{display:block;content:'';width:rem(7);height:rem(7);border-left:1px solid #1c1c1c;border-top:1px solid #1c1c1c;
        position:absolute;top:rem(8);right:rem(12);transform: translateZ(0) rotate(135deg);
    }
    .data_kind{}
}
.data_veritcal_sub{font-size:rem(14);color:#878787;display:block;margin-top:rem(5);@include fontTransform;}
.sc_toggle_list_wrap{}
.sc_toggle_list{
    > li{
        position:relative;
        &.active{
            .sc_toggle_bar:after{transform:translateZ(0) rotate(225deg);top:rem(24)}
            &:after{display:none;}
            .sc_toggle_content{display:block;}
        }
        &:last-of-type{}
        &:after{display:block;content:'';width:calc(100% - rem(32)); left:rem(16); position:absolute;bottom:0;background:#dcdcdc;height:1px;}
    }
}
.sc_toggle_bar{display:flex;padding:rem(16) rem(40) rem(16) rem(16);position:relative; font-size:rem(14);color:#191919;
    &:after{
        display:block;content:'';width:rem(7);height:rem(7);border-right:1px solid #1c1c1c;border-bottom:1px solid #1c1c1c;
        position:absolute;top:rem(19);right:rem(23);transform:translateZ(0) rotate(45deg);
    }
}
.sc_toggle_bullet{flex:0;white-space: nowrap;margin-right:rem(4)}
.sc_toggle_text{flex:1;}
.sc_toggle_content{
    background:#f6f8f9;color:#4d4d4d;line-height:1.5;font-size:rem(14);display:none;
    *{color:#4d4d4d;line-height:1.5;font-size:rem(14);word-break: break-all !important;}
    img{max-width:100%;width:auto !important;height:auto !important;vertical-align: top;}
}
.sc_toggle_content_in{padding:rem(10) rem(16);}

.viewskin_wrap{border-top:2px solid #878787;border-bottom:1px solid #878787;}
.viewskin_title{
    font-size:rem(16);color:#191919;line-height:1.4;@include fontTransform;padding:rem(16) 0;
    .data_kind{}
}
.viewskin_else_wrap{background:#f6f8f9;display:flex;justify-content: flex-end;padding:rem(12);}
.viewskin_else{
    display:inline-flex; align-items: center; font-size:rem(16);color:#878787;line-height:1;@include fontTransform;
    &[class*="ico_"]:before{display:block;content:'';flex:0;background-repeat:no-repeat;background-size:100% auto;background-position: 0 0;margin-right:rem(4);}
    &.ico_calendar:before{flex-basis: rem(15);width:rem(15);height:rem(16);background-image:url("../images/icon_sub_date.png");}
}
.viewskin_content{
    font-size:rem(16);color:#191919;line-height:1.4;@include fontTransform; margin:rem(16) 0 rem(24);
    img{max-width:100%;width:auto !important;height:auto !important;vertical-align: top;}
    *{word-break: break-all !important;font-size:rem(16);color:#191919;line-height:1.4;}
}




@media(min-width:420px){
    
    .mv_searchform{margin-top:rem(40);}
    input.mv_searchinput{height:rem(48);padding:0 rem(16);font-size:rem(16);
        &::-webkit-input-placeholder{font-size:rem(12);}
        &::-moz-input-placeholder{font-size:rem(12);}
        &:-ms-input-placeholder{font-size:rem(12);}
        &::-ms-input-placeholder{font-size:rem(12);}
        &::input-placeholder{font-size:rem(12);}
    }
    .btn_mv_search_submit{padding:0 rem(16);}
    .btn_mv_search_submit_in{font-size:rem(16);}

    input.sc_search_input{height:rem(48);padding:0 rem(16);font-size:rem(16);
        &::-webkit-input-placeholder{font-size:rem(12);}
        &::-moz-input-placeholder{font-size:rem(12);}
        &:-ms-input-placeholder{font-size:rem(12);}
        &::-ms-input-placeholder{font-size:rem(12);}
        &::input-placeholder{font-size:rem(12);}
    }
}

// paging

.data_paing_wrap{text-align:center;display:flex;align-items: center;justify-content: center;margin-top:rem(20)}
.first_go,
.prev_go,
.next_go,
.last_go{display:inline-block;width:rem(32);height:rem(32);box-sizing:border-box;vertical-align: middle;border:1px solid #c5c9d6;border-radius:rem(2);margin:0 rem(2);background-position:50% 50%;background-size:100% auto;background-repeat:no-repeat;}
.first_go{background-image:url("../images/page_navi_first.png");}
.prev_go{background-image:url("../images/page_navi_prev.png");}
.next_go{background-image:url("../images/page_navi_next.png");}
.last_go{background-image:url("../images/page_navi_last.png");}
.pn_list{display:flex;margin:0 3px;align-items: center;justify-content: center;}
.pn_list > li{}
.pn_list > li:last-of-type{}
.pn_link{display:inline-block;width:rem(32);height:rem(32);border-radius:rem(2);color:#828282;line-height:rem(32);font-size:rem(14);}
.pn_link.active,
.pn_link:hover{background:#f0f3fa;color:#1a4071;font-weight:600;}
