/* qucik */
.quick_layer_wrap{position:fixed;bottom:0;right:0;z-index:20;transition:.5s;opacity:1;
    &.opacity_hidden{opacity:0;}
    &.opacity_show{opacity:1;}
}
.quick_obj{display:flex;align-items:center;justify-content:center; width: rem(50);height: rem(50);box-shadow: 0 0 6px 0 rgba(12, 74, 150, 0.52);background: #fff url("../images/icon_main_hand_m.png") no-repeat 50% 50%/90% auto;border-radius:100%;position:absolute;bottom:rem(16);right:rem(16);
    &.type2{
        background-image:none;
    }
    .quick_text{display:inline-block;font-size:rem(29);font-weight:600;color:#0c4a96;}
}

/* 공통 alert confirm */
.btn_guide{display:inline-block;font-size:rem(16);padding:rem(15) rem(30);border:1px solid #ddd;}
.design_modal_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100;min-width:rem(280);overflow:hidden;display:none;}
.design_modal_wrap.active{display:block;}
.design_modal_wrap.active.motion .bg_design_modal{background:rgba(0,0,0,.65);}
.design_modal_wrap.active.motion .design_modal{transform:translateY(0);opacity:1;}
.bg_design_modal{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0);z-index:0;transition:.5s;}
.design_modal_w{display:flex;justify-content: center;align-items: center;width:100%;height:100%;box-sizing: border-box;padding:rem(30)}
.design_modal{background:#fff;position:relative;transform:translateY(-50%);transition:.5s;opacity:0;min-width:rem(280);border-radius:rem(10) rem(10) rem(30) rem(30);}
.design_modal_cont_w{display:flex;align-items: center; justify-content: center;padding:rem(20);min-height:rem(120);box-sizing: border-box;}
.design_modal_text{}
.btn_dmsm_wrap{display:flex;align-items: center;justify-content: center;background:#0c4a96;text-align:center;border-radius:0 0 rem(10) rem(10);position:relative;overflow:hidden;}
.btn_dmsm{height:rem(54);flex:1;display:flex;align-items: center;margin:0 -1px;font-weight:500;justify-content: center;color:#fff;border-left:1px solid transparent;border-right:1px solid rgba(255,255,255,.5);}
.btn_dmsm.btn_dmsmcancel{background-color:#929292;}
.btn_dmsm:last-of-type{border-right:0;}
@media(max-width:1023px){
    .design_modal{min-width:100%;}
}



/* 공통 popup */
.popup_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100000;display:none;align-items: center;justify-content: center;min-width:rem(280);overflow:hidden;flex-wrap:wrap;}
.popup_item{
    box-sizing: border-box;z-index:20; max-width:rem(600);margin:rem(30) auto; max-height:calc(100% - rem(60)); background:#fff; position:relative; display:flex; flex-direction: column;
    -webkit-box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3); box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3); border-radius:1.1875rem; width:100%;opacity:0;transition:.4s; 
    &.no_transition{transition:0s;opacity:1;transform:none;}
    &.down_motion{transform: translateY(-20%);}
    &.fulltype{
        margin:0;max-height:100%;border-radius:0;max-width:100%; transform: translateY(50%);transition-duration:.6s;height:100%;width:100%;
        .popup_titlelow{border-bottom:0;
            padding:0 rem(45);
            .popup_title{padding:rem(17) rem(17) rem(16);line-height:1;}
        }
        .pcont_inwrap{padding:rem(16)}
    }
}
.bg_dim{display:block;width:100%;height:100%;position:fixed;top:0;left:0;z-index:0;background:#000;opacity:0;transition:.5s;
    &.no_transition{transition:0s;opacity:.6;transform:none;}
}
.popup_titlelow{text-align:center;border-bottom: 1px solid #e7e7e7;flex:0;padding:0 rem(40)}
.popup_title{font-size:rem(16);color:#191919;padding:rem(15) rem(15) rem(15);font-weight:600;@include fontTransform;}
.popup_contentlow{position:relative;overflow:hidden;overflow-y:auto;flex:1;font-size:rem(12);color:#333333;}
.pcont_inwrap{padding:rem(30);}
.pcont_subtitle{font-size:rem(19);color:#1b1b1b;line-height:1.3;font-weight:500;}
.popup_btnlow{flex:0;border-top:1px solid #e7e7e7;}
.popup_wrap.active{display:flex}
.popup_wrap.active.motion .popup_item{
    opacity:1;transform: translateY(0);
}
.popup_wrap.active.motion .bg_dim{opacity:.6;}
.popup_wrap.active{display:flex}
.btn_submitbox_w{display:flex;margin:0;padding:rem(30) rem(23);}
.btn_submitbox_w .btn_submitbox{margin:0 rem(2.5);}
.btn_submitbox{display:inline-block;vertical-align:middle;border:0;font-size:rem(16);text-align:center;color:#4e4e4e;font-weight:500;flex:1;background:#e7e7e7;border-radius:rem(5);padding:rem(12) rem(20);}
.btn_submitbox.dtype2{background:#0c4a96;color:#fff;}
.btn_submitbox.inline_type{flex:0;white-space: nowrap;}
.btn_submitbox.small{padding:rem(8) rem(12)}
.btn_submitbox_w.dtype2{
    display:block;text-align:center;padding:rem(15); 
    .btn_submitbox{padding:rem(12) rem(20);}
}
input.btn_submitbox{}

.btn_popup_close{display:inline-block;width:rem(40);height:rem(40);position:absolute;top:0;right:0;font-size:0;line-height:0;
    &.dtype2{width:rem(22);height:rem(22);top:rem(14);right:rem(12);
        &:before,
        &:after{width:rem(16);height:rem(2);margin:rem(-1) 0 0 rem(-8);background:#878787}
    }
}
.btn_popup_close:before,
.btn_popup_close:after{width:rem(15);height:rem(1);display:block;content:'';position:absolute;top:50%;left:50%;background:#000; margin:rem(-0.5) 0 0 rem(-7.5);
    transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
}
.btn_popup_close:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.btn_popup_close:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
@media (max-width:1023px){
    .popup_title{font-size:rem(17);padding:rem(15) rem(10) rem(10);}
    .pcont_subtitle{font-size:rem(15)}
}
@media (max-width:720px){
    .popup_wrap{left:0;transform:translateX(0);width:100%;}
    .popup_item{margin:20px;max-height: calc(100% - 40px);}
    .pcont_inwrap{padding:rem(15)}
    .btn_submitbox_w{padding:rem(15);
        &.dtype2{
            display:block;text-align:center;padding:rem(10); 
            .btn_submitbox{padding:rem(8) rem(15);}
        }
    }
    .btn_submitbox{font-size:rem(14);padding:rem(8)}
}
/* // 공통 popup */


/* component */
.dropmenu_item{position:relative;display:inline-block;border:1px solid #bcbcbc;} 
.dropmenu_call{
    display:inline-block;line-height:1;min-width:rem(140);box-sizing:border-box;font-size:rem(14);color:#191919;transform:skew(.5deg);padding:rem(12) rem(36) rem(12) rem(12);
    &:after{
        display:block;content:'';border-right:1px solid #8c8c8c;border-bottom:1px solid #8c8c8c;width:rem(7);height:rem(7);position:absolute;top:rem(12);right:rem(12);
        transform: translateZ(0) rotate(45deg);
    }
} 
.dropmenu_option_list_wrap{display:none;position:absolute;top:100%;left:-1px;width:calc(100% + 2px);overflow:hidden;
    &.active{
        display:block;
    }
} 
.dropmenu_option_list{
    background:#fff;border:1px solid #bcbcbc;position:relative;overflow:hidden;
    > li{}
} 
.dropmenu_option{
    display:block;font-size:14px;line-height:1.2;color:#191919;padding:rem(10) rem(8); transform: skew(.5deg);
    &:hover{background:#f6f8f9;}
}

.chkrd_item{display:flex;line-height:0;font-size:0;}
.chkrd_label{cursor:pointer;font-size:16px;padding-top:2px;color:#444444;display:inline-block;line-height:1;margin-left:8px;vertical-align:middle;}
.chkrd_label:before{}
.chkrd:checked{background-position:0 -19px;border-color:#34b371;background-color:#34b371;}

.formitem_list{display:flex;align-items: center;margin-bottom:rem(-10)}
.formitem_list > li{margin:0 rem(20) rem(10) 0;}
.formitem{display:flex;}
.check_item{cursor:pointer;-webkit-appearance: none; appearance: none; -moz-appearance: none; -ms-appearance:none;vertical-align:middle;width:rem(14);height:rem(14);border-radius:100%;border:2px solid #bcbcbc;background:#fff;flex:0 0 rem(14);box-sizing: content-box;}
.check_item:checked{background:url("../images/icon_radio.png") no-repeat 0 0/100% auto;border-color:#69a0d4;}
.check_item:checked + .formitem_label{}
.formitem_label{cursor:pointer;font-size:16px;color:#878787;display:inline-block;@include fontTransform;font-weight:600;line-height:1.3;margin-left:rem(8);position:relative;top:rem(-1)}
.title_sub_copy{text-align: center;color:#191919;font-size:rem(15);line-height:1.5;@include fontTransform;}
input.form_input{border:1px solid #d4d4d4;line-height:1;height:rem(40);padding:0 rem(8);box-sizing: border-box;width:100%;font-size:rem(14);}
input.form_input:disabled{background-color:#f6f6f6;border-color:#d4d4d4;}


.vertical_item_list{
    &.margin_type2{
        > li{margin-bottom:rem(24);}
    }
    > li{
        margin-bottom:rem(40);
        &:last-of-type{margin-bottom:0 !important}
    }
}
.vertical_item_title{margin-bottom:rem(15);}
.vertical_item_content{margin-top:rem(15)}
.btn_submitquad_wrap{margin-top:rem(40);}
.btn_submitquad{display:flex;align-items:center;justify-content:center;box-sizing:border-box;padding:rem(10);background:#69a0d4;color:#fff;font-size:rem(16);@include fontTransform;line-height:1;min-height:rem(60);font-weight:600;}

.mt5{margin-top:rem(5) !important;}
.mt10{margin-top:rem(10) !important;}
.mt20{margin-top:rem(20) !important;}
.mt30{margin-top:rem(30) !important;}
.mt40{margin-top:rem(40) !important;}
.mt50{margin-top:rem(50) !important;}
.mt60{margin-top:rem(60) !important;}
.mt70{margin-top:rem(70) !important;}
.mt80{margin-top:rem(80) !important;}
.mt90{margin-top:rem(90) !important;}
.mt100{margin-top:rem(100) !important;}

.btn_snsbox{display:flex;align-items: center;justify-content: center;position:relative;min-height:rem(60);}
.btn_snsbox[class*="ico_"]:before{display:block;content:'';width:rem(60);height:rem(60);position:absolute;top:50%;left:0;transform: translateY(-50%);background-repeat:no-repeat;background-position:50% 50%;background-size:100% auto;}
.btn_snsbox.ico_naver{background:#1ec800;}
.btn_snsbox.ico_naver:before{background-image:url("../images/logo_naver.png");}
.btn_snsbox.ico_kakao{background:#fae100;}
.btn_snsbox.ico_kakao .snsbox_text{color:#191919;}
.btn_snsbox.ico_kakao:before{background-image:url("../images/logo_kakao.png");}
.snsbox_text{display:inline-block;color:#fff;@include fontTransform;line-height:1;font-weight:600;}

// component guide
.source_his_item_wrap{padding:rem(30) rem(20)}
.source_his_item{margin-bottom:rem(50)}
.source_his_item:last-of-type{margin-bottom:0}
.component_title{font-size:rem(20);color:#000;font-weight:700;border-bottom:2px solid #000;padding-bottom:rem(10);margin-bottom:rem(20)}
.component_title_sub{font-size:rem(15);color:#000;}
.textarea_size{box-sizing:border-box;width:100%;padding:20px;margin-top:rem(40);overflow:hidden;resize:none;}
.render_wrap{margin:rem(10) 0 0 0;}
.component_dep_wrap{}
.component_dep{margin-bottom:rem(40);}
.component_dep:last-of-type{margin-bottom:0;}
@media (max-width:1023px){
    .component_title{font-size:16px}
}